.homepage{
    margin:0;
}


.homepage {
  padding: 20px;
  background: #f9f9f9;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* max-width:1200px; */
  gap: 30px;
  margin-top: 20px;
  margin-left:40px;

}

.card {
  background: transparent;
  border-radius: 10px;
  padding: 13px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  text-align: center;
  border:1px solid black;
}

.card img {
  width: 200px;
  height:300px;
  object-fit:cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0 5px;
}

.card p {
  font-weight: bold;
  color: green;
}


.cart{
  display:flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

}

.product-details{
  display:inline;
  justify-content: space-between;
  align-items: center;
  
}

@media (max-width: 600px) {
  .products {
    grid-template-columns: 1fr;
    margin:0;
  }
}

/* 📱 Tablet (601px - 900px) → 2 columns */
@media (min-width: 601px) and (max-width: 900px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 💻 Desktop (above 900px) → 3 columns */
@media (min-width: 901px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ================= MEDIA QUERIES ================= */

/* Tablet: 601px - 900px */
@media (max-width: 900px) {
  .nav h2.rishi {
    font-size: 20px;
  }

  .forms {
    margin: 0 10px;
  }

  .banner {
    height: 300px;
    font-size: 28px;
  }

  .nav-links {
    gap: 5px;
  }

  .category-btn {
    padding: 6px 10px;
    font-size: 14px;
  }
}

/* Mobile: 0px - 600px */
@media (max-width: 600px) {
  .nav {
    flex-direction: column;
    align-items: flex-start;
    width:100%;
  }

  .forms {
    width: 100%;
    margin: 10px 0;
  }

  ul {
    width: 100%;
    justify-content: space-between;
  }

  .header {
    padding: 5px 0;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
  }

  .category-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .banner {
    height: 200px;
    font-size: 20px;
  }

  
}